<p>
  <%= l(:extended_reminder_version_overdue_issues_mail_body, :count => @issues.size) %>
</p>

<%- @versions.each do |version| -%>
  <hr />

  <strong>
    <%= "#{version.name} (#{version.effective_date})" %>
  </strong>
  <ul>
    <%- @version_grouped_issues[version.id].each do |issue| -%>
      <li>
        <%= h(issue.project) %> - <%= link_to h("#{issue.tracker} ##{issue.id}"), :controller => 'issues', :action => 'show', :id => issue, :only_path => false %>: (<%= h issue.status %>) <%= h issue.subject %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>

<p>
  <%= link_to l(:label_issue_view_all), @issues_url %>
</p>
